<footer id="" class="p-5 md:p-10 w-screen flex flex-row border-t-2 md:border-t-4 border-yellow-400 items-center mt-8">
<router-link to="/contact">
    <div id="avatars-mobile" class="relative w-20 h-20 md:w-24 md:h-24 mr-5 md:mr-8">
        {{ get_content from="/about" }}
        <img
            src="{{ avatar.url }}"
            class="w-20 h-20 md:w-24 md:h-24 outline-yellow shadow-offset-yellow cursor-pointer absolute top-0 transition-opacity"
            alt=""
        />
        {{ /get_content }}
    </div>
</router-link>
<section id="contact-info" class="">
    <h3 class="font-sans font-bold text-green-300">nic goodman</h3>
    <h4 class="font-sans font-bold text-green-100 text-base">704.682.4091</h4>
    <h4 class="font-sans font-bold text-green-100">nic.goodman@hey.com</h4>
</section>
</footer>