<header id="site-header" class="w-full p-10 flex flex-row justify-between absolute top-0 left-0 z-50">
    <h2 id="site-greeting" class="font-3xl font-bold font-sans text-green-100">hi i'm <span id="name" class="text-green-300">nic</span></h2>
    <nav id="main-navigation" class="flex flex-row">
        {{ nav include_home="true" }}
        <a href="" hx-get="{{ url }}" hx-trigger="click" hx-target="#page-content" hx-push-url="true" id="nav-item" class="w-24 h-7">
            <span class="hover:bg-green-100 pr-1 pl-5 text-green-100 font-sans hover:font-script text-right font-bold hover:font-extrabold hover:text-pink-600 lowercase text-base hover:text-sm align-middle py-1" @click="selected({{ count }})" :class="{currentPage:navLink == {{ count }}}" style="transition: background-color 0.2s ease-in-out">
                {{ title }}
            </span>
        </a>
        {{ /nav }}
    </nav>
</header>
