@import "tailwindcss/base";
h1 {
    @apply text-7xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-lg;
}

p {
    @apply text-base;
    @apply mb-2;
}



@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.shadow-offset-yellow {
    box-shadow: 8px 8px 0 1px #FBBF24;
}
.shadow-offset-yellow:hover {
    box-shadow: 12px 12px 0 1px #FBBF24;
}
.currentPage {
    @apply font-extrabold;
    @apply text-pink-600;
    @apply font-script;
    @apply bg-green-100;
    @apply text-sm;
}


.hero-angle {
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.heroCoderAnimateFull {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    width: 100% !important;
}

.heroCoderAnimateHide {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    width: 0 !important;
    @apply p-0;
}

.wnone {
    width: 0 !important;
    @apply p-0;
}



.heroCoderAnimateFullMobile {
    height: 100% !important;
    @apply border-t-2;
    @apply border-yellow-400;
}

.heroCoderAnimateHideMobile {
    height: 0 !important;
    margin-top: 0rem !important;
    @apply p-0;
}

.hnone {
    height: 0 !important;
    margin-top: 0 !important;
    @apply border-t-0;
    @apply p-0;
}


.left {
    @apply self-start;
}

.right {
    @apply self-end;
}

.opacityFull {
    @apply opacity-100;
}

.projectContentAnimate {
    @apply overflow-hidden;
    @apply min-h-0;
    @apply h-0;
}

.image-gallery {
    line-height: 1rem;
    column-count: 3;
    column-gap: 1rem; 
}

.pt-xs {
    padding-top: .125em;
}

.bard ul {
    @apply list-disc;
    @apply pl-10;
}

.bgScrollOff {
    /* when modal active */
    touch-action: none !important;
    -webkit-overflow-scrolling: none !important;
    overflow: hidden !important;
    /* Other browsers */
    overscroll-behavior: none !important;
}

.result {
    display: none;
  }
  
  .active {
    display: block;
  }
  
  .inactive {
    display: none;
  }