<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link href="{{ link to="/css/tailwind.css" }}" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.typekit.net/rds2exl.css">
        <script src="https://unpkg.com/htmx.org@1.0.1"></script>
    </head>
    <body class="bg-no-repeat bg-gradient-to-b from-gray-800 to-purple-900 min-h-screen flex flex-col items-center">
        {{ partial:partials/header }}
        <section id="page-content" hx-swap-oob="true" class="w-full">
            {{ template_content }}
        </section>
        {{ partial:partials/footer }}
    </body>
</html>
