<!DOCTYPE html>
<html>
    <head>
        <title>Nic Goodman</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='{{ link to="/css/tailwind.css" }}' rel="stylesheet" />
        <link rel="stylesheet" href="https://use.typekit.net/rds2exl.css" />
        <script src="https://kit.fontawesome.com/e3e517da60.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/vue-router@next"></script>
        <script src="{{ link to="/js/home.vue.js"}}"></script>
        <script src="{{ link to="/js/about.vue.js"}}"></script>
        <script src="{{ link to="/js/contact.vue.js"}}"></script>
        <script src='{{ link to="/js/app.js"}}' defer></script>
        <script src='{{ link to="/js/form.js"}}' defer></script>
        <style>
            {{ collection:projects }}
                .image-gradient-{{ slug }} {
                    background-image: linear-gradient(rgba(219, 39, 119, 0.75), rgba(76, 29, 149, 0.75)), url('{{ thumbnail.url }}');
                    background-blend-mode: darken;
                }
             {{ /collection:projects}}
        </style>
    </head>
    <script type="text/x-template" id="work-content">
        {{ partial:templates/work }}
    </script>
    <script type="text/x-template" id="about-content">
        {{ partial:templates/about }}
    </script>
    <script type="text/x-template" id="contact-content">
        {{ partial:templates/contact }}
    </script>
    <body
        id="nicgoodman-site"
        class="bg-no-repeat bg-gradient-to-b from-gray-800 to-purple-900 min-h-screen flex flex-col items-center"
    >
        {{ partial:partials/header }}
        <router-view></router-view>
        {{ partial:partials/footer }}
    </body>
</html>
