{{ get_content from="/about" }}
<section id="about-content" class="flex flex-col items-center">
    <section
        id="about-hero"
        class="w-screen h-96 flex flex-row p-24 items-end border-b-4 border-yellow-400 bg-repeat bg-center"
        style="background-image: url('{{ hero_background.url }}'), linear-gradient(rgba(219, 39, 119, 1), rgba(236, 72, 153, 1));"
    >
        <h1
            id="page-title"
            class="font-bold font-sans text-center text-green-100"
        >
            {{ title | lower }}
        </h1>
    </section>
    <main
        id="about-content-wrapper"
        class="w-full max-w-6xl px-4 flex flex-row mt-8"
    >
        <article id="about-sidebar" class="flex-shrink-0 hidden md:block">
            <div id="avatars" class="relative md:w-48 md:h-48 lg:w-56 lg:h-56 mb-8">
                <img
                    src="{{ avatar.url }}"
                    class="md:w-48 md:h-48 lg:w-56 lg:h-56 outline-yellow absolute top-0 transition-opacity hover:opacity-0 z-50"
                    alt=""
                />
                <img
                    src="{{ bio_picture.url }}"
                    class="md:w-48 md:h-48 lg:w-56 lg:h-56 outline-yellow shadow-offset-yellow absolute top-0 z-40"
                    alt=""
                />
            </div>
            <section id="tools" class="flex flex-col w-full">
                <h3 class="font-sans font-bold text-green-100 pb-2 border-b-2 border-yellow-400 my-4">tools</h3>
                {{ tools }}
                <article id="" class="flex flex-row w-full items-end mb-4">
                    <img src="{{ logo.url }}" alt="" class="md:w-10 lg:w-12 ">
                    <caption id="" class="w-auto m-2 pt-2 pl-2 pr-6 h-7 leading-5 text-green-400 text-sm font-extrabold inline-block lowercase font-sans">{{ name }}</caption>
                </article>
                {{ /tools }}
            </section>
        </article>
        <article
            id="bio-content"
            class="flex flex-row flex-wrap md:flex-col py-8 md:pl-12 lg:pl-16 text-yellow-400 font-sans font-bold"
        >
        <section id="bio-wrapper" class="w-full">
            <h2 id="bio-header" class="text-green-100 font-sans font-bold mb-6 md:mb-2">
                {{ about_header }}
                <span id="name" class="text-green-300">nic goodman</span>
            </h2>
            <div id="avatars-mobile" class="relative w-32 h-32 float-left inline-block md:hidden mb-6 mr-8">
                <img
                    src="{{ avatar.url }}"
                    class="w-32 h-32 outline-yellow absolute top-0 transition-opacity hover:opacity-0 z-50"
                    alt=""
                />
                <img
                    src="{{ bio_picture.url }}"
                    class="w-32 h-32 outline-yellow shadow-offset-yellow absolute top-0 z-40"
                    alt=""
                />
            </div>
            {{ bio }}
        </section>
            <h3 id="" class="mt-8 text-pink-600 bg-green-100 font-script font-extrabold pr-14 pl-2 py-1 self-start mb-4 text-lg md:text-xl lg:text-2xl">experience</h3>
            {{ resume }}
            <section id="job-entry" class="w-full flex flex-col">
                <h3 id="" class="font-sans font-bold text-green-100 pb-2 border-b-2 border-yellow-400 mb-2 text-lg md:text-xl lg:text-2xl"><span id="" class="text-green-300">{{ title }}</span> / {{ company }} / {{ duration }} / {{ location }}</h3>
                <article id="" class="bard text-yellow-400 font-sans font-bold list-disc">
                    {{ description }}
                </article>
            </section>
            {{ /resume }}
            <h3 id="" class="mt-8 text-pink-600 bg-green-100 font-script font-extrabold pr-14 pl-2 py-1 self-start mb-4 text-lg md:text-xl lg:text-2xl">education & achievements</h3>

            <section id="tools-mobile" class="flex flex-col w-full md:hidden">
                <h3 class="font-sans font-bold text-green-100 pb-2 border-b-2 border-yellow-400 my-4">tools</h3>
                {{ tools }}
                <article id="" class="flex flex-row w-full items-end mb-4">
                    <img src="{{ logo.url }}" alt="" class="w-10 lg:w-12 ">
                    <caption id="" class="w-auto m-2 pt-2 pl-2 pr-6 h-7 leading-5 text-green-400 text-sm font-extrabold inline-block lowercase font-sans">{{ name }}</caption>
                </article>
                {{ /tools }}
            </section>
        </article>
    </main>
</section>
{{ /get_content }}
