<section id="application-content" class="flex flex-col items-center">
    <section
        id="application-hero"
        class="w-screen h-64 md:h-96 flex flex-row p-4 md:p-24 items-end border-b-2 md:border-b-4 border-yellow-400 bg-repeat bg-center"
        style="background-image: url('{{ hero_image.url }}'), linear-gradient(rgba(219, 39, 119, 1), rgba(236, 72, 153, 1));"
    >
        <h1
            id="page-title"
            class="font-bold font-sans text-left md:text-center text-green-100 text-5xl md:text-6xl lg:text-7xl"
        >
            {{ title | lower }}
        </h1>
    </section>
    <section class="w-full max-w-6xl px-4 flex flex-col mt-16">
        <h2 id="application-header" class="text-green-100 font-sans font-bold mb-6 md:mb-2 text-3xl md:text-4xl">
            hi {{ title | lower }}, i'm 
            <span id="name" class="text-green-300">nic goodman</span>
        </h2>
    {{ page_content }} {{if type=="text_section"}}
    {{ if heading | length }}
    <h3 id="" class="font-sans font-bold text-green-100 pb-2 border-t-2 border-yellow-400 mb-2 text-lg md:text-xl lg:text-2xl">{{ heading }}</h3>
    {{ /if}}
    <article id="" class="bard text-yellow-400 font-sans font-bold list-disc">{{ text_content }}</article>
    {{elseif type=="featured_project"}}
    {{ if project_name | length }}
    <h3 id="" class="mt-8 text-pink-600 bg-green-100 font-script font-extrabold pr-10 pl-2 py-1 self-start mb-4 text-base md:text-xl lg:text-2xl">{{ project_name }}</h3>
    {{ /if}}
    <article id="" class="bard text-yellow-400 font-sans font-bold list-disc">{{ project_text_content }}</article>
    {{ if images | length }}
    <section id="featured-project-gallery" class="image-gallery-application mt-8">
        {{ images }}
            <img src="{{url}}" class="w-full h-auto pb-4 lazyload" alt="" />
        {{ /images }}
    </section>
    {{/if}}
    <section id="embed" class="mb-8">{{ embed }}</section>

 {{/if}} 
 {{/page_content }}
    </section>
</section>
</section>
