{{ get_content from="/contact" }}
<section id="contact-content" class="flex flex-col items-center">
    <section
    id="about-hero"
    class="w-screen h-64 md:h-96 flex flex-row p-4 md:p-24 items-end border-b-2 md:border-b-4 border-yellow-400 bg-no-repeat bg-cover bg-opacity-50"
    style="background-image: url('{{ hero_background.url }}'), linear-gradient(rgba(49, 46, 129, 1), rgba(91, 33, 182, 1)); background-blend-mode: overlay;"
>
<h1
id="page-title"
class="font-extrabold font-script text-yellow-400 text-left md:text-center text-5xl md:text-6xl lg:text-7xl"
>
        {{ title | lower }}
    </h1>
</section>
<main id="contact-content-wrapper" class="w-full max-w-6xl flex flex-row mt-8">
    <form id="contactForm" name="contact" method="POST" data-netlify="true">
        <p>
            <label>name: <input type="text" name="name"/></label>
        </p>
        <p>
            <label>email: <input type="email" name="email"/></label>
        </p>
        <p>
            <label>phone: <input type="phone" name="phone"/></label>
        </p>

        <p>
            <label>Message: <textarea name="message"></textarea></label>
        </p>
        <p>
            <button type="submit">Send</button>
        </p>
    </form>
</main>
</section>
{{ /get_content }}
