{{ get_content from="/contact" }}
<section id="contact-content" class="flex flex-col items-center min-h-screen">
    <section
        id="about-hero"
        class="w-screen h-64 md:h-96 flex flex-row p-4 md:p-24 items-end border-b-2 md:border-b-4 border-yellow-400 bg-no-repeat bg-cover bg-opacity-50"
        style="background-image: url('{{ hero_background.url }}'), linear-gradient(rgba(49, 46, 129, 1), rgba(91, 33, 182, 1)); background-blend-mode: overlay;"
    >
        <h1
            id="page-title"
            class="font-extrabold font-script text-yellow-400 text-left md:text-center text-5xl md:text-6xl lg:text-7xl"
        >
            {{ title | lower }}
        </h1>
    </section>
    <main
        id="contact-content-wrapper"
        class="w-full max-w-6xl px-4 flex flex-col items-center mt-16"
    >
    <section id="" class="w-full md:w-2/3 bard text-green-100 font-sans font-bold text-3xl md:text-4xl list-disc mb-8">
        {{ contact_intro}}
    </section>
        <form
            id="contactForm"
            name="contact"
            method="POST"
            data-netlify="true"
            netlify-honeypot="bot-field"
            enctype="application/x-www-form-urlencoded"
            class="flex flex-col w-full md:w-2/3"
            @submit.prevent="handleFormSubmit"
        >
        <input type="hidden" name="form-name" value="Contact">
            <div id="" class="flex flex-row mb-4">
                <label id="" class="outline-yellow bg-green-100 pl-1 pr-5 md:pr-1 md:pl-5 text-right font-script space-x-5 font-extrabold text-pink-600 lowercase text-base align-middle w-18 md:w-24 h-7">name</label>
                <input class="rounded-none outline-yellow bg-indigo-900 text-sm text-green-100 px-2 flex-grow" type="text" name="name" v-model="formData.name"/>
            </div>

            <div id="" class="flex flex-row mb-4">
                <label id="" class="outline-yellow bg-green-100 pl-1 pr-5 md:pr-1 md:pl-5 text-right font-script space-x-5 font-extrabold text-pink-600 lowercase text-base align-middle w-18 md:w-24 h-7">email</label>
                <input class="rounded-none outline-yellow bg-indigo-900 text-sm text-green-100 px-2 flex-grow" type="email" name="email" v-model="formData.email"/>
            </div>

            <p class="hidden">     
                <label>Don’t fill this out: <input name="bot-field"></label>   </p>

            <div id="" class="flex flex-row mb-4">
                <label id="" class="outline-yellow bg-green-100 pl-1 pr-5 md:pr-1 md:pl-5 text-right font-script space-x-5 font-extrabold text-pink-600 lowercase text-base align-middle w-18 md:w-24 h-7">phone</label>
                <input class="rounded-none outline-yellow bg-indigo-900 text-sm text-green-100 px-2 flex-grow" type="phone" name="phone" v-model="formData.phone"/>
            </div>

            <div id="" class="flex flex-col mb-4">
                <label id="" class="outline-yellow bg-green-100 pl-1 pr-5 md:pr-1 md:pl-5 text-right font-script space-x-5 font-extrabold text-pink-600 lowercase text-base align-middle w-18 md:w-24 h-7">message</label>
                <textarea rows="5" class="rounded-none outline-yellow bg-indigo-900 text-sm text-green-100 p-2" name="message" v-model="formData.message"></textarea>
            </div>

            <button
                type="submit"
                name="submit-button"
                class="bg-green-100 hover:bg-green-300 pl-1 pr-5 md:pr-1 md:pl-5 text-right font-script space-x-5 font-extrabold text-pink-600 lowercase text-base align-middle w-18 md:w-24 h-7 outline-yellow shadow-offset-yellow transition-all"
            >
                Send
            </button>
        </form>
    </main>
</section>
{{ /get_content }}
