<h2 id="project-title" class="text-green-100 font-sans font-bold mb-8">
    {{ title | lower }}
</h2>

<section
    id="project-categories"
>
    {{ services }}
    <span class="text-base text-pink-600 bg-green-100 font-script font-extrabold pr-10 pl-2 py-1 mb-4 mr-4 inline-block">{{ title | lower }}</span>

    {{ /services }}
</section>
<section
    id="project-description"
    class="text-yellow-400 font-sans font-bold w-3/4"
>
    {{ project_description}}
</section>
<section id="project-gallery" class="image-gallery mt-8">
   
    {{ gallery_images }}
    {{ if url | contains:gif }}
    <img src="{{ url }}" class="w-full h-auto pb-4" alt="">
    {{ else }}
    {{ responsive:url alt="{title}" class="w-full h-auto pb-4" }}
    {{ /if }}
    {{ /gallery_images}}
</section>
