<section id="content">
    <section id="" class="flex flex-row">
        {{ collection:projects }}
        <article
            id="{{ slug }}"
            class="{{ project_type }}{{ slug }}{{ /project_type }} w-64 h-64 bg-cover bg-center border-2 border-yellow-400 m-8 shadow-offset-yellow"
            style="background-image: linear-gradient(rgba(219, 39, 119, 0.75), rgba(76, 29, 149, 0.75)), url('{{ thumbnail.url }}'); background-blend-mode: darken;"
        >
            <p id="" class="bg-green-100 w-auto m-2 py-1 pl-1 pr-5 text-pink-700 text-xs font-bold inline-block lowercase">
                {{ title }}
            </p>
        </article>
        {{ /collection:projects }}
    </section>
</section>
