{{ get_content from="/" }}
<section id="work" class="flex flex-col items-center w-full relative">
    <section
        id="hero"
        class="w-full h-192 bg-pink-600 border-b-4 border-yellow-400 bg-repeat bg-center hidden md:flex flex-col-reverse md:flex-row-reverse relative"
        style="background-image: url('{{ designer_background.url }}'), linear-gradient(rgba(219, 39, 119, 1), rgba(236, 72, 153, 1));"
    >
        <section
            id="coder-hero"
            class="h-full w-1/2 bg-no-repeat bg-cover bg-opacity-50 flex flex-col items-center justify-center hero-angle transition-all duration-300 relative transform-gpu p-24"
            style="background-image: url('{{ coder_background.url }}'), linear-gradient(rgba(49, 46, 129, 1), rgba(91, 33, 182, 1)); background-blend-mode: overlay;"
            :class="{ heroCoderAnimateFull: coderAnimation, heroCoderAnimateHide: designerAnimation }"
        >
            <h1
                class="font-extrabold font-script text-center text-yellow-400 animate-initialBounceLeft hover:animate-hoverBounceLeft cursor-pointer transition-all transform-gpu text-5xl md:text-6xl lg:text-7xl"
                @click="toggleCoderAnimation(); setProjectFilter('code')"
                :class="{ left: coderAnimation }"
            >
                coder.
            </h1>
            <span id="reset-button-designer" class="cursor-pointer" @click="toggleCoderAnimation(); setProjectFilter('code')" :class="[ coderAnimation ? 'block' : 'hidden' ]">
                <i class="fas fa-undo-alt text-yellow-400 text-3xl animate-pulse absolute right-0 bottom-0 p-10"></i></span>
        </section>
        <section
            id="hero-designer"
            class="h-full w-1/2 flex flex-col items-center justify-center transition-all p-24"
            :class="{ wnone: coderAnimation }"
        >
            <h1
                class="font-bold font-sans text-center text-green-100 animate-initialBounceRight hover:animate-hoverBounceRight cursor-pointer transition-all text-5xl md:text-6xl lg:text-7xl"
                @click="toggleDesignerAnimation(); setProjectFilter('design')"
                :class="{ right: designerAnimation }"
            >
                designer.
            </h1>
            <span id="reset-button-designer" class="cursor-pointer" @click="toggleDesignerAnimation(); setProjectFilter('design')" :class="[ designerAnimation ? 'block' : 'hidden' ]">
            <i class="fas fa-undo-alt text-green-100 text-3xl animate-pulse absolute left-0 bottom-0 p-10"></i></span>
        </section>
    </section>

    <section
        id="hero-mobile"
        class="w-full bg-pink-600 border-b-2 border-yellow-400 bg-repeat bg-center flex md:hidden flex-col-reverse transition-all pt-32 relative"
        style="background-image: url('{{ designer_background.url }}'), linear-gradient(rgba(219, 39, 119, 1), rgba(236, 72, 153, 1));"
        
    >
        <section
            id="coder-hero-mobile"
            class="h-full w-full bg-no-repeat mt-0 bg-cover bg-opacity-50 flex flex-col items-center justify-center transition-all duration-300 relative transform-gpu p-24 hero-angle-mobile"
            style="background-image: url('{{ coder_background.url }}'), linear-gradient(rgba(49, 46, 129, 1), rgba(91, 33, 182, 1)); background-blend-mode: overlay;"
            :class="{ heroCoderAnimateFullMobile: coderAnimation, heroCoderAnimateHideMobile: designerAnimation }"
        >
            <h1
                class="font-extrabold font-script text-center text-yellow-400 animate-initialBounceUp hover:animate-hoverBounceUp cursor-pointer transition-all transform-gpu text-5xl md:text-6xl lg:text-7xl"
                @click="toggleCoderAnimation(); setProjectFilter('code')"
                :class="{ hidden: designerAnimation }"
            >
                coder.
            </h1>
            <span id="reset-button-designer" class="cursor-pointer" @click="toggleCoderAnimation(); setProjectFilter('code')" :class="[ coderAnimation ? 'block' : 'hidden' ]">
                <i class="fas fa-undo-alt text-yellow-400 text-xl animate-pulse absolute right-0 bottom-0 p-4"></i></span>
        </section>
        <section
            id="hero-designer-mobile"
            class="h-full w-full flex flex-col items-center justify-center transition-all p-24 border-t-2 border-yellow-400"
            :class="{ hnone: coderAnimation }"
        >
            <h1
                class="font-bold font-sans text-center text-green-100 animate-initialBounceDown hover:animate-hoverBounceDown cursor-pointer transition-all text-5xl md:text-6xl lg:text-7xl"
                @click="toggleDesignerAnimation(); setProjectFilter('design')"
                :class="{ hidden: coderAnimation }"
            >
                designer.
            </h1>
            <span id="reset-button-designer" class="cursor-pointer" @click="toggleDesignerAnimation(); setProjectFilter('design')" :class="[ designerAnimation ? 'block' : 'hidden' ]">
                <i class="fas fa-undo-alt text-green-100 text-xl animate-pulse absolute left-0 bottom-0 p-4"></i></span>
        </section>
    </section>

    <section
        id="projects"
        class="flex flex-row flex-wrap justify-center w-full max-w-6xl relative mt-10 md:mt-8 transition-all transform-gpu duration-300"
    >
        {{ collection:projects }}
        <article
            id="{{ slug }}"
            class="{{ project_type }}{{ slug }}{{ /project_type }} transition transform-gpu relative w-32 h-32 md:w-48 md:h-48 lg:w-56 lg:h-56 bg-cover bg-center outline-yellow shadow-offset-yellow cursor-pointer z-30 image-gradient-{{ slug }}"
            @click="fetchProject('{{ url }}')"
            :class="filterProjects('{{ project_type }}{{ slug }}{{ /project_type }}')"
        >
            <img
                src="{{ thumbnail.url }}"
                alt=""
                class="w-32 h-32 md:w-48 md:h-48 lg:w-56 lg:h-56 object-cover opacity-0 hover:opacity-100 transition-all z-40"
            />
            <p
                id=""
                class="bg-green-100 hover:bg-green-300 w-auto m-2 py-1 pl-1 pr-5 text-pink-600 text-xs font-extrabold inline-block lowercase font-script z-50 absolute top-0"
            >
                {{ title }}
            </p>
        </article>
        {{ /collection:projects }}
    </section>
    <section
        id="project"
        class="fixed overflow-y-scroll bottom-0 left-0 min-h-screen z-50 bg-no-repeat bg-gradient-to-b from-gray-800 to-purple-900 h-full w-screen transition-all transform-gpu flex flex-col items-center"
        :class="{ projectContentAnimate: !showProject }"
    >
        <i
            class="fas fa-times-circle transition-all hover:animate-pulse text-yellow-400 text-3xl absolute top-0 right-0 m-8 cursor-pointer hover:text-pink-600"
            @click="toggleProject()"
        ></i>
        <article
            id="project-content"
            class="max-w-6xl w-full mt-8 px-4"
            v-html="projectContent"
        ></article>
    </section>
</section>
{{ /get_content }}
